<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.web.dao.PayDao">
	<resultMap type="com.web.vo.GroupVO" id="partyinfo">
		<id property="seq" column="seq"/>
		<result property="service" column="service"/>
		<result property="title" column="title"/>
		<result property="peoplecnt" column="peoplecnt"/>
		<result property="userid" column="userid"/>
		<result property="partyday" column="partyday"/>
		<result property="price" column="price"/>
		<result property="partydate" column="partydate"/> 
	</resultMap>
	<select id="doPartyList" resultMap="partyinfo">
		select * from partyinfo where seq=#{seq}
	</select>
</mapper>