<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.web.dao.MemberDao">
	<resultMap type="com.web.vo.MemberVO" id="kakao">
		<id property="email" column="email"></id>
		<result property="seq" column="seq"/>
		<result property="id" column="id"/>
		<result property="kakaoid" column="kakaoid"/>
		<result property="pw" column="pw"/>
		<result property="name" column="name"/>
		<result property="nickname" column="nickname"/>
		<result property="role" column="role"/>
		<result property="tel" column="tel"/>
		<result property="addr" column="addr"/>
		<result property="birth" column="birth"/>
		<result property="tier" column="tier"/>
	</resultMap>
	<select id="doMemberList" resultType="com.web.vo.MemberVO">
		select * from membertest
	</select>
	
	<insert id="joinMember">
	    INSERT INTO member(seq, id, kakaoid, pw, name, nickname, role, tel, addr, birth, email, tier) 
	    VALUES (member_seq.NEXTVAL, #{id}, #{kakaoid}, #{pw}, #{name}, #{nickname}, 'USER', #{tel}, #{addr}, #{birth}, #{email}, 5)
	</insert>
	<select id="loginResult" resultType="com.web.vo.MemberVO">
		SELECT * FROM member WHERE id = #{id} AND pw = #{pw}
	</select>
	
	  <select id="selectMember" resultType="com.web.vo.MemberVO">
	 	select * from member where email=#{email}
	 </select>  
	 <!-- update member set seq=#{seq},id=#{id},kakaoid=#{kakaoid},pw=#{pw},name=#{name},nickname=#{nickname},role=${role},tel=#{tel},addr=#{addr},birth=#{birth},email=#{email},tier=#{tier} where id=#{id}  -->
 	 <update id="updateClient">
		update member set  pw=#{pw}, name=#{name}, nickname=#{nickname}, tel=#{tel}, addr=#{addr}, birth=#{birth}, email=#{email} where email=#{email}
	</update>   
	<select id="kakaologinResult" resultMap="kakao">
		SELECT * FROM member WHERE kakaoid = #{kakaoid}
	</select>
	  <select id="isDuplicateId" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE id = #{id}
    </select>
    <update id="updateMember">
    	update member set pw=#{pw}, kakaoid=#{kakaoid},nickname=#{nickname},tel=#{tel},addr=#{addr},birth=#{birth} where email=#{email}
    </update>
    <update id="notBirthUpdate">
    	update member set pw=#{pw}, kakaoid=#{kakaoid},nickname=#{nickname},tel=#{tel},addr=#{addr} where email=#{email}
    </update>
	<delete id="memberDelete">
		DELETE FROM member WHERE email=#{email}
	</delete>
    
    <update id="updateRole">
		update member set role='PARTYKING' where email=#{email}
	</update>
	
</mapper>