<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  
  <mapper namespace="com.web.dao.PartyMapper" >

  	<insert id="insertbyacount">
  		insert into account values(account_seq.NEXTVAL,#{name},#{bank},#{acount})
  	</insert>
  	
  	<insert id="groupInsert" >
        INSERT INTO partyinfo VALUES(partyseq.NEXTVAL,#{service},#{title},#{peoplecnt},#{userid},#{partyday},#{price},SYSDATE)
     </insert>
  	
  	<select id="selectPeoplecntList" resultType="com.web.vo.GroupVO">
  		 <!--  SELECT * FROM partyinfo where userid =#{userid} -->
  		  select * from partyinfo where seq =#{seq}
  	</select>
  	
  	<select id="selectPeoplecnt" resultType="com.web.vo.GroupVO">
  		  SELECT * FROM partyinfo 
  	</select>	
  	
  </mapper>
