<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  
  <mapper namespace="com.web.dao.PartyMapper" >

  	<insert id="insertbyaccount">
  		insert into account values(account_seq.NEXTVAL,#{name},#{bank},#{account})
  	</insert>
  	
  	<select id="selectPeoplecntList" resultType="com.web.vo.GroupVO">
  		 <!--  SELECT * FROM partyinfo where userid =#{userid} -->
  		  select * from partytable where seq =#{seq}
  	</select>
  	
  	<select id="selectPeoplecnt" resultType="com.web.vo.GroupVO">
  		  SELECT * FROM partytable 
  	</select>	
  	
  	<update id="updatePartyKing">
  		update member set role='PARTYKING' where email=#{email}
  	</update>
  	
  	<!-- 로그인시 파티수정가능 내가만든 파티 들어가서 보기 -->
  	<select id="Findid" resultType="com.web.vo.GroupVO">
  		select * from partytable where partykingid=#{partykingid}
  	</select>
  	
  	<!-- 로그인시 내가만든 파티수정 -->
  	<update id="partyUpdate">
  		update partytable set service=#{service},title=#{title},peoplecnt_max=#{peoplecnt_max},partyday=#{partyday},price=#{price}, enddate=ADD_MONTHS(partydate,#{partyday}) where seq=#{seq}
  	</update> 
  	
  </mapper>
