<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.ReviewMapper">
	<select id="reviewList" resultType="com.web.vo.ReviewVO">
		select * from review
	</select>

	<select id="getReviewByuserId" resultType="com.web.vo.ReviewVO">
		select * from review where REVIEWID = #{reviewid }
	</select>

	<insert id="ReviewInsert">
		insert into review values(review_seq.NEXTVAL,#{reviewid},#{userid},#{nickname},#{title},#{content},#{hit},SYSDATE)
	</insert>

	<delete id="deleteReview">
		delete from review where reviewid=#{reviewid}
	</delete>

	<select id="getTotal" resultType="int">
		select count(*) from review
	</select>

	<select id="getListWithpaging" resultType="com.web.vo.ReviewVO">
		select * from (select tt.* from (select rownum rn, rv.* from review rv
		order by seq desc) tt where rn <![CDATA[ > #{start} and rn <=]]>#{last})
	</select>

	<!-- 조회수 -->
	 <update id="updateHit">
		UPDATE review SET hit = hit + 1 WHERE reviewid=#{reviewid}
	</update> 
</mapper>